# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Logs & data
*.log
data/

# ML artifacts
wandb/
outputs/
checkpoints/
assets/pi05_nero_stream5_mission7_views/

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp

# Secrets
.env
